@import url("variables/variables.css");
@import url("Home/Home.css");

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); // poppins

// awesome font - icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');    // awesome icons library

body {
  margin: 0;
}

body:focus {
  outline: none;
}

.App {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.primaryButton, button.primaryButton, input.primaryButton {
  color: white;
  background-color: var(--color-blue);
  padding: 1em;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 4px 18px var(--color-blue-shadow);
}

.primaryButton:hover, button.primaryButton:hover, input.primaryButton:hover {
  box-shadow: none;
}

.secondaryButton, button.secondaryButton, input.secondaryButton {
  color: white;
  background-color: var(--color-black);
  padding: 1em;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 4px 18px var(--color-black-shadow);
}

.secondaryButton:hover, button.secondaryButton:hover, input.secondaryButton:hover {
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
}