div.Home {
  margin-top: 3em;
}

div.Home > h2.tagline {
  margin-top: 2.8em;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

div.Home > div.button_layer > a > button.primaryButton {
  margin-right: 2em;
}

div.Home > div.content-section {
  margin-top: 6em;
  text-align: center;
}

p.content {
  width: 80%;
  font-weight: inherit;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
  margin-left: auto;
}

div.event-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1200px) {
  div.Home {
    margin-top: 2.4em;
    text-align: center;
  }
  div.Home > h2.tagline {
    font-size: 36px;
  }
  div.Home > div.button_layer {
    display: block;
  }
  div.Home > div.button_layer > a > button {
    margin-right: auto;
    margin-left: auto;
  }
  div.Home > div.button_layer > a > button.primaryButton {
    width: 90%;
  }
  div.Home > div.button_layer > a > button.secondaryButton {
    display: none;
  }
  p.content {
    width: 100%;
    text-align: center;
  }
  div.Home > div.content-section {
    box-sizing: border-box;
    padding: 1em;
  }
  div.Home > div.events-section > div.event-card-container {
    display: block;
  }

  div.Home > div#about-acm {
    display: block;
  }
  div.Home > div#about-acm > div > iframe#youtube-video {
    width: 90%;
  }
}
