

div.Home > h2.tagline {
  margin-top: 4em;
  font-weight: bolder;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}

div.Home > div.button_layer {
  display: flex;
  align-items: center;
  margin-top: 3em;
}

div.Home > div.button_layer > button {
  margin-right: 2em;
}

div.Home > div.content-section {
  margin-top: 6em;
}

p.content {
  width: 60%;
  font-weight: inherit;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

div.event-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1200px) {
  div.Home {
    text-align: center;
  }
  div.Home > div.button_layer {
    text-align: center;
  }
  div.Home > div.button_layer > button {
    margin-right: auto;
    margin-left: auto;
  }
  div.Home > div.button_layer > button.secondaryButton {
    display: none;
  }
  p.content {
    width: 100%;
    text-align: center;
  }
  div.Home > div.content-section {
    box-sizing: border-box;
    padding: 1em;
  }
  div.Home > div.events-section > div.event-card-container {
    display: block;
  }
}