
div.Header {
  align-items: center;
  overflow: hidden;
  padding: 0.4em;
  display: flex;
  top: 0;
  box-shadow: 2px 4px 10px rgb(231, 231, 231);
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100%;
}

div.header-drawer-btn{
  display: none;
}

div.header-drawer-btn > div {
  width: 30px;
  height: 3px;
  background-color: #292929;
  margin: 6px 0;
}

div.Header > span.logo-container  {
  display: flex;
  align-items: center;
  float: left;
}

img.logo {
  width: 70px;
  margin-left: 3em;
}

div.Header > ul.header-option-list {
  display: flex;
  list-style: none;
  float: right;
  margin-right: 3em;
}

li.header-option {
  text-decoration: none;
  color: black;
  font-size: large;
  margin-right: 2em;
}

li.header-option:hover {
  color: var(--color-blue);
}

@media(max-width:525px){
  div.Header{
    justify-content: space-between;
  }

  ul.header-option-list{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(#ffffff,.95);
    border-right: 1px solid black;
  }

  ul.open-drawer{
    transform: translateX(0);
  }

  ul.close-drawer{
    transform: translateX(-100%);
  }

  li.header-option {
    margin-bottom: 1.5em;
  }

  div.header-drawer-btn{
    margin-right: 1.5em;
    display: inline-block;
  }
}