
div.Header {
  align-items: center;
  overflow: hidden;
  padding: 1em;
}

div.Header > span.logo-container  {
  display: flex;
  align-items: center;
  float: left;
}

img.logo {
  width: 70px;
  margin-left: 3em;
}

div.Header > ul.header-option-list {
  display: flex;
  list-style: none;
  float: right;
  margin-right: 3em;
}

li.header-option {
  text-decoration: none;
  color: black;
  margin-right: 2em;
}

@media screen {
  
}