
div.Events {
  margin-top: 10em;
}

div.Events > div.event-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1200px) {
  
  div.Events {
    text-align: center;
  }

  div.Events > div.event-card-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}